/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.story-widget,
.story-widget * {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.story-widget {
	background-color: #fff;
	padding: 15px;
	width: 100%;
}

.story-widget ul {
	list-style: none;
}

.story-list {
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0 0 5px;
	white-space: nowrap;
}

.story-list__item {
	display: inline-block;
	margin-right: 10px;
	width: 60px;
	cursor: pointer;
}

.story-list__item:last-child {
	margin-right: 0;
}

.story-name {
	font-size: 11px;
	margin-top: 5px;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	color: grey;
	text-align: center;
}

.story-img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid #dadada
}

.story-img__item {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border: 3px solid white;
	border-radius: 50%
}

.story-modal {
	margin: auto;
	width: 475px;
	background-color: #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.story-modal__item {
	height: 665px;
	position: relative;
	padding: 50px 20px 20px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 100%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.story-modal__item__linkwrap {
	text-decoration: none;
}

.story-modal__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
	background-color: rgba(0, 0, 0, 0.4);
}

.story-modal__wrapper.story-modal__wrapper_active {
	pointer-events: all;
	opacity: 1;
}

.story-modal-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	justify-content: flex-start;
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
}

.story-modal-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 101%;
}

.story-modal-img__item {
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.story-modal-name {
	position: absolute;
	top: 17px;
	left: 10px;
	z-index: 2;
	max-width: 87%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.story-modal-name-item {
	color: #ddd;
	display: inline-block;
	height: 100%;
	font-size: 12px;
	margin-left: 10px;
	white-space: normal;
}

.story-modal-name-img {
	width: 30px;
	height: 30px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 50%;
}

.story-modal-purchase {
	text-decoration: none;
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	z-index: 1;
	border-radius: 32px;
	background-color: white;
	height: 32px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	padding: 5px 15px;
}

.story-modal-purchase__caption {
	margin-left: 10px;
	margin-top: 1px;
	font-size: 13px;
	color: black;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
}

.story-modal-purchase:active,
.story-modal-purchase:hover {
	background-color: #aaa;
}

.story-modal-purchase__icon {
	width: 20px;
	height: 20px;
	fill: black;
}

.story-modal-close {
	position: absolute;
	top: 12px;
	right: 5px;
	z-index: 1;
	cursor: pointer;
	padding: 5px;
}

.story-modal-close svg {
	width: 17px;
	height: 17px;
	fill: white;
}

.story-modal-progressbar {
	position: absolute;
	height: 3px;
	width: 96%;
	background-color: grey;
	top: 7px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	z-index: 1;
}

.story-modal-progressbar__item {
	width: 100%;
	height: 100%;
	background-color: white;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	    transform: scaleX(0);
	-webkit-transform-origin: 0;
	-ms-transform-origin: 0;
	    transform-origin: 0;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	-o-transition-property: transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	   transition-timing-function: linear;
}

.story-modal-products__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 101%;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 41px 15px 15px;
	display: none;
	-webkit-transition: opacity .3s linear;
	-o-transition: opacity .3s linear;
	transition: opacity .3s linear;
	background-color: rgba(0, 0, 0, 0.4);
}

.story-modal-products__wrapper.story-modal-products__wrapper_active {
	pointer-events: all;
	opacity: 1;
}

.story-modal-products {
	margin: auto;
	width: 300px;
}

.story-modal-products__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-height: 485px;
	overflow-y: auto;
	padding: 15px 15px 0px;
	background-color: #fff;
}

.story-product {
	width: calc(50% - 15px);
	padding-bottom: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.story-product-image {
	width: 100%;
	height: 150px;
	display: inline-block;
}

.story-product-image__item {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.story-product-title {
	white-space: normal;
	overflow: hidden;
	margin-top: 15px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: grey;
	font-size: 12px;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.story-product-title:active,
.story-product-title:hover {
	text-decoration: underline;
	color: #23527c;
}

.story-product-price {
	font-family: Montserrat, sans-serif;
	margin-top: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

@media (max-height: 665px) {
	.story-modal__item {
		height: 100vh;
	}
}

@media (max-height: 533px) {
	.story-modal-products__list {
		max-height: calc(100vh - 55px);
	}
}